body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

nav {
    background: #222;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

button {
    padding: 10px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 5px;
}
